*.o
*.d
codec-cfg
codecs.conf.h
config.asm
config.h
config.log
config.mak
ffmpeg/config.mak
ffmpeg/libavcodec/libavcodec.a
ffmpeg/libavcore/libavcore.a
ffmpeg/libavformat/libavformat.a
ffmpeg/libavutil/avconfig.h
ffmpeg/libavutil/libavutil.a
ffmpeg/libpostproc/libpostproc.a
ffmpeg/libswscale/libswscale.a
help_mp.h
mencoder
mplayer
version.h
vidix/pci_dev_ids.c
vidix/pci_ids.h
vidix/pci_names.c
vidix/pci_vendors.h
